<h1>Phone number record</h1>

<table>
  <tr>
    <th>First name</th>
    <td><%= @person.first_name %></td>
  </tr>
  <tr>
    <th>Last name</th>
    <td><%= @person.last_name %></td>
  </tr>
  <tr>
    <th>Phone number</th>
    <td><%= @person.phone_number %></td>
  </tr>
</table>
