/*
 * This is a manifest file that'll be compiled into application.css, which will inclu
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a re
 *
 * You're free to add application-wide styles to this file and they'll appear at the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  padding: 30px;
}

form.login {
  border: 1px gray dotted;
  padding: 20px;
  margin-right: 20px;
}
form.login h2 {
  margin: 0;
}
form.login label {
  display: inline-block;
  width: 70px;
}
