<button type="button" class="btn btn-primary">Primary</button>

Home
Profile
Messages

<br>

<div class="alert alert-danger">
  <a href="#" class="alert-link">This box has a non-functioning X button to close it.</a>
</div>
<table class="table">
A B
A1 B1
A2 B2 
</table>

<br>

<button type="button" class="btn btn-success">Success</button>

<button type="button" class="btn btn-default"
  ><a href="http://www.google.com">Link to Google</a></button>

<br>
<br>
<div class="row">
  <div class="col-md-6">This column is on the left half of the page.</div>
  <div class="col-md-6">This column is on the right half of the page.</div>
</div>

<br>

<span class="glyphicon glyphicon-fast-backward"></span>
<br>

<span class="glyphicon glyphicon-fast-forward"></span>
