<h1>Multiple choice test</h1>
<% MultiTest.order(:problem).each do |p| %>
<h2><%= p.problem %></h2>
  <p><%= p.question %></p>
  <ul>
    <% x = 0 %>
    <% x = x + 1 %>
    <% x = x.to_s %>
    <li><%= ('p.answer'+'x') %></li> 
  </ul>
  
<% end %>




