<b><p style="font-size:37pt">World cities</p></b>

<table class="table" table border="1">
  <tr>
    <th><h2>City name</h2></th>   
          <% WorldCity.order(:name).each do |w| %>
            <td><h3><%= w.name %><h3></td>
          <% end %>
  </tr>
  <tr>
    <th><h2>Country</h2></th>
          <% WorldCity.order(:id).each do |w| %>
            <td><h3><img src="/images/<%= w.country_flag_filename %>" height="18" width="33"> 
            <%= w.name %><h3></td>
          <% end %>     
  </tr>   

  <tr>
    <th><h2>More Details</h2></th>
      <% WorldCity.order(:id).each do |w| %>
        <td><h3><a href="/world_cities/<%= w.id %>">Details<h3></td>
      <% end %>
  </tr>   
</table>
