<b><p style="font-size:37pt">World cities</p></b>

<table class="table" table border="1">
  <tr>
    <th><h2>City name</h2></th>
      <td><h3>London<h3></td>
      <td><h3>Paris<h3></td>
      <td><h3>Shanghai<h3></td>
  </tr>

  <tr>
    <th><h2>Country</h2></th>
      <td><h3><img src="/images/uk.png" height="18" width="33"> United Kingdom<h3></td>
      <td><h3><img src="/images/france.png" height="23" width="32"> France<h3></td>
      <td><h3><img src="/images/prc.png" height="23" width="32"> China<h3></td>
  </tr>   
  
  <tr>
    <th><h2>More Details</h2></th>
      <td><h3><a href="/London">Details<h3></td>
      <td><h3><a href="/Paris">Details<h3></td>
      <td><h3><a href="/Shanghai">Details<h3></td>
  </tr>   
</table>
