<!-- TODO: write this part -->

Example grid:
<br>

<div class='row'>
  <div class='col-md-4'>.</div>
  <div class='col-md-4'>.</div>
  <div class='col-md-4'>.</div>
</div>
<br>

<div class='row'>
  <div class='col-md-4'>.</div>
  <div class='col-md-4'>.</div>
  <div class='col-md-4'>.</div>
</div>
