<% if flash[:notice] %>
  <div class="alert alert-info"><%= flash[:notice] %></div>
<% end %>

<p>
  <strong>Company name:</strong>
  <%= @ad.company_name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @ad.duration %>
</p>

<a href="/ads/<%= @ad.id %>/edit">Edit</a> |
<a href="/ads">Back</a>
