<h1>UFO sightings</h1>
  <h2>
    <% UfoSighting.order(:id).each do |sighting| %>
      <a href="/ufo_sightings/<%= sighting.id %>">
        <ul class="list-unstyled">
          <li>
            <p>
              <%= sighting.when_seen %> in 
                <%= sighting.location %>
            </p>
          </li>
        </ul>
      </a>
    <% end %>
  </h2>
     