<h1>World city #<%= @city.id %></h1>

<p>
  <b>Name</b>
  <%= @city.name %>
</p>

<p>
  <b>Population</b>
  <%= @city.population_in_millions * 1000000 %>
</p>

<p>
  <b>Country</b>
  <%= @city.country %>
</p>
