<h1>Example contact form</h1>

<p>
  <label>From</label>
  <br>
  <input size="50">
</p>

<p>
  <label>Subject</label>
  <br>
  <input size="50">
</p>

<p>
  <label>Body</label>
  <br>
  <textarea rows="10" cols="50"></textarea>
</p>

<button>Send</button>
