<h1>Example login screen</h1>

<table border="1">
  <tr>
    <th>
      <label>Email address</label>
    </th>
    <td>
      <input>
    </td>
  </tr>
  <tr>
    <th>
      <label>Password</label>
    </th>
    <td>
      <input>
    </td>
  </tr>
  <tr>
    <th>
    </td>
    <td>
      <button>Login</button>
    </td>
  </tr>
</table>
