<h1>Examples of species</h1>

<h2>1. plants</h2>

<h3>1.a. ferns</h3>

<p>Cyathea dealbata</p>

<h3>1.b. flowering plants</h3>

<p>
  Cocos nucifera<br>
  Olea europaea
</p>

<h2>2. animals</h2>

<h3>2.a. vertebrates</h3>

<p>
  Canis lupus<br>
  Chinchilla lanigera<br>
  Carcharodon carcharias
</p>

<h3>2.b. invertebrates</h3>

<p>Polygonoporus giganticus</p>
