<h1>Example of nested lists</h1>

<ul>
  <li>fruits
    <ul>
      <li>apples</li>
      <li>oranges</li>
      <li>pears</li>
    </ul>
  </li>
  <li>vegetables
    <ul>
      <li>broccoli</li>
      <li>peas</li>
      <li>carrots</li>
    </ul>
  </li>
</ul>
