<h1>List of players</h1>

<ul>
  <% @players.each do |player| %>
    <li>
      <a href="/players/<%= player.id %>">
        <%= player.name %> is on the <%= Team.find_by(id: player.team_id).name %>
      </a>
    </li>
  <% end %>
</ul>
