<h1>Example login screen</h1>
<table border= "1">
  <tr>
    <th>Email address</th>
    <th><input size="20"></th>
  </tr>
  <tr>
    <td><b>Password</b></td>       
    <td><input size="20"></td>
  </tr>
  <tr>
    <td></td>
    <td><button>Login</button></td>
