
<h1>Examples of species</h1>

<h1>1. plants</h1>

<h2>1.a. ferns</h2>

  <p>Cyathea dealbata</p>

<h2>1.b. flowering plants</h2>
  <p>Cocos nucifera</p>
  <p>Olea europaea</p>

<h1>2. animals</h1>

<h2>2.a. vertebrates</h2>
  <p>Canis lupus</p>
  <p>Chinchilla lanigera</p>
  <p>Carcharodon carcharias</p>

<h2>2.b. invertebrates</h2>
  <p>Polygonoporus giganticus</p>

