<html>
  <head>
    <title><%= request.path_info %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
    <link rel="stylesheet" type="text/css"
      href="/stylesheets/my_styles.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
