<p class="inverse">
  White text on a black background
</p>
<p class="border">
  Text with a thick border and some padding around it
</p>
<p class="small">
  Small text in a narrow box that's indented
</p>
<p class="pad">
  Text with a thin border and lots of room around it
</p>
<p class="center">
  Text in a box that's centered
</p>
<p class="glow">
  Text with a blue glow around it and its box
</p>
