<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/books.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/flash.css?body=1" media="all" rel="stylesheet" />
  <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/turbolinks.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/books.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
  <meta content="authenticity_token" name="csrf-param" />
<meta content="TsyuBV5vtOTmLSQRYuf0PKqbXXzgFLrYnnh15LIe32A=" name="csrf-token" />
</head>
<body>
<div style='width:700px; margin: 0 auto;'>

<%= render "layouts/book_detail" %>

  <br clear='left'>
  <br>

<%= render "layouts/links" %>

      </div>
  </div>
</div>
<br clear='all'>
<br>


</body>
</html>
