<h1>Contact Us</h1>

<h2>Subject</h2>
  <%= text_field_tag "subject", "", placeholder: "Request for information", size: "30" %>

<h2>Body</h2>
  <%= text_area_tag "body", "Please add me to your mailing list", rows: 3, cols: 30 %>

<br></br>

<%= submit_tag "Send message" %>

<h3>Messages so far:</h3>
  <ul>
    <% Message.order(:id).each do |message| %>
      <li><%= message.subject %></li>
    <% end %>
  </ul>

