<table class="table">
 <tr>
    <th>City name </th>
    <th>Country flag</th>
    <th>Time zone </th>
    <th>Population</th>
  </tr>
  <tr>
    <% WorldCity.order(:city).each do |w| %>
      <td><%= w.city %></td>
      <td><img src="<%= w.flag %>"></td>
      <td><%= w.time %></td>
      <td><%= w.population %></td>
  </tr>
    <% end %>
<h1>World cities</h1>
<table class="table">
  <tr>
    <th>City name </th>
    <th>Country flag</th>
    <th>Time zone </th>
    <th>Population</th>
  </tr>
  <tr>
    <td>London, United Kingdom</td>
    <td><img src="/images/uk.png"></td>
    <td>UTC+0000</td>
    <td>8,000,000</td>
  </tr>
    <td>Paris, France</td>
    <td><img src="/images/france.png"></td>
    <td>UTC+0100</td>
    <td>2,000,000</td
    </tr>
  <tr>
    <td>Shanghai, China</td>
    <td><img src="/images/prc.png"></td>
    <td>UTC+0800</td>
    <td>14,000,000</td>
  </tr>
</table>

<h1>World cities</h1>

<table class="table">
  <% 4.times do %>
    <th> column title </th>
  <% end %>

    <% 3.times do %>
      <tr>
        <td>Shanghai, China</td>
        <td><img src="/images/france.png"></td>
        <td>UTC+0800</td>
        <td>14,000,000</td>
      </tr>
    <% end %>
</table>

