<% @members.each do |member| %>
  <h2><%= member.name %>'s cars:</h2>
 
  <% if member.cars.size < 1 %>
    (None)
  <% end %> 
  <% member.cars.each do |c| %>
    <li><%= c.model %></li>
  <% end %>
<% end %>

<h2>No one's cars:</h2>

<% Car.where(member_id: nil).each do |car| %>
  <li><%= car.model %></li>
<% end %>

