%p Email
%p Calendar
%p Notes

%p Search

%p Backing up email...
%p Cancel

%p Inbox
%p Outbox
%p Sent
%p Archived
%p Deleted

%p Compose
%p Reply
%p Reply All
%p Delete

%table
  %tr
    %th From
    %th Subject
    %th Date
  %tr
    %td Siamese
    %td Urgent Cheetah puma
    %td Yesterday
  %tr
    %td Munchkin
    %td Kitty cheetah
    %td Tuesday
  %tr
    %td Panther
    %td Manx Birman
    %td Monday

%p Newest
%p 5
%p 6
%p 7
%p Oldest
