%p
  bootstrap classes to look up at
  %a(href='http://getbootstrap.com/css/') CSS
  and
  %a(href='http://getbootstrap.com/components/') Components
  page
%ul
  %li Columns
  %li Navbar
  %li Navbar links
  %li Navbar forms
  %li Glyphicons
  %li Alerts
  %li Progress bars
  %li Buttons
  %li List groups
  %li "Pull right" for right justification
  %li Table row-striping
  %li Labels
  %li Pager links

%p Email
%p Calendar
%p Notes

%p Search

%p Backing up email...
%p Cancel

%p Inbox
%p Outbox
%p Sent
%p Archived
%p Deleted

%p Compose
%p Reply
%p Reply All
%p Delete

%table
  %tr
    %th From
    %th Subject
    %th Date
  %tr
    %td Siamese
    %td Urgent Cheetah puma
    %td Yesterday
  %tr
    %td Munchkin
    %td Kitty cheetah
    %td Tuesday
  %tr
    %td Panther
    %td Manx Birman
    %td Monday

%p Newest
%p 5
%p 6
%p 7
%p Oldest
