
<%= @book.author %>
<h2>Books by Flanagan</h2>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Pusblished</th>
  </tr>
<tr>
<td><a href="/">The Ruby Programming Language</a>
</td>
<td> flanagan
</td>
</tr>

</table>
