
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
    <title>/contact</title>
  </head>
  
    <h1>Contact Us</h1>

    Message:<br>
    <textarea></textarea><br>
    
    <button>Send message</button>


